# Virtual environment
venv/

# Build and distribution directories
dist/
output/
create_intro_cards.egg-info/
docs/build/

# Python cache files
__pycache__/

# Editor and system files
.vscode/
.DS_Store

# Linter cache
.ruff_cache/
